<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/marchands/create">Create a marchand</a>
    <ul>
      <% marchands.forEach(function(marchand){ %>
        <li><%= marchand.email %></li>
      <% }) %>
    </ul>
  </body>
</html>
