<h2>{{pageTitle}}</h2>
  <table class="table  table-hover table-striped" *ngIf="marchands$ | async as marchands; else loading">
    <thead class="header_table">
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Adresse</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let marchand of marchands" >
        <td>{{marchand.name}}</td>
        <td>{{marchand.address}}</td>
      <td><button class="btn btn-success" (click)="isValid(marchand)">Valider</button></td>
      </tr>
    </tbody>
  </table>
<ng-template #loading>
  <fbapp-loader center></fbapp-loader>
</ng-template>
